@font-face
  font-family: 'Cantarell'
  src: local("Cantarell"), url('Cantarell.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Iosevka'
  src: local("Iosevka"), url('iosevka-regular.woff2') format("woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Iosevka'
  src: local("Iosevka Bold"), url('iosevka-bold.woff2') format("woff2")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Iosevka'
  src: local("Iosevka Oblique"), url('iosevka-oblique.woff2') format("woff2")
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Gidole'
  src: local("Gidole Regular"), url('Gidole-Regular.woff2') format("woff2")

body
  // font-family: 'Krikikrak'
  font-family: 'Gidole'
  // font-family: 'Cantarell'
  margin: 0px
  background: #2d1e2f
  // color: #e4e4ef
  color: #fcecd1
  line-height: 1.8
  font-size: 21px
  letter-spacing: 0.6px
  hyphens: auto

  &::-webkit-scrollbar
    width: 14px

  &::-webkit-scrollbar-track
    background: #886243
    border-radius: 3px

  &::-webkit-scrollbar-thumb
    background: #f1e2be
    border-radius: 3px

.main-body
  display: flex
  flex-direction: column
  min-height: 100vh

html
  scrollbar-width: thin /* auto | thin | none */
  scrollbar-color: #886243 #f1e2be /* thumb color, track color */

.nav-bar
  position: relative
  padding: 20px 25% 20px 25%
  background: #392945
  border: solid #000
  border-width: 0px 0px 2px 0px
  color: #fbf1c7
  // border: 1px solid #d65d0e

  // background-image: url('/nav-scenery.png')
  // background-repeat: repeat-x
  // background-size: 5% auto
  // background-position: left bottom -10%
  // overflow: visible

  h1
    margin: 10px 0 10px 0

  .column
    display: flex
    align-items: center

    .title
      flex: 1

      a
        color: #fbf1c7

      .main
        font-size: 30px

      .sub
        font-style: italic

    .menu .links
      .link
        display: flex
        font-size: 20px

      a
        margin: 3px
        color: #fbf1c7
        text-decoration: underline
        text-underline-offset: 4px

.tag-item
  padding: 8px
  background: #e4e4ef
  color: #101010
  border: 1px solid #e4e4ef
  &:hover
    color: #e4e4ef
    background: #101010

.heading-template
  text-align: center
  margin-top: 10px
  border: 1px solid #282828
  border-radius: 10px
  padding: 20px

.gradient-text
  background: -webkit-linear-gradient(#2d1e2f , #fcecd1)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.gradient-text-2
  background: -webkit-linear-gradient(#a75b72, #bfa1c3)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.notice
  background: #a94b54
  border-left: 8px solid #7a3b4f
  padding: 8px
  margin: 2px
  border-radius: 8px
a
  color: #a0ddd3
  text-decoration: none
  &:visited
    color: #a0ddd3
    text-decoration: none
  &:hover
    color: #6fb0b7

.blogs-list
  margin: 1.75em

  .title
    margin: 0px 0px 0px 0px
  .subtitle
    margin: 0px

  // .date
  //   font-family: Iosevka

// ul li::after
//   display: block
//   margin-top: 10px
//   width: 100%
//   height: 5px
//   border-radius: 100px
//   border: 2px solid #000
//   background: #999
//   margin: 25px 0px 10px 0px
//   content: ""

.post
  h1
    margin: 0px
  .title
    color: #aad795
    .meta
      display: block
      font-size: 0.67em
      color: #9c807e
    .tag
      font-size: 0.63em

.gradient-canvas
  float: right
  border-radius: 10px

.content
  flex: 1

.content-container
  padding: 10px
  border-top: 0px
  max-width: 50em
  margin: 2em auto

.home-image-row 
  display: flex
  justify-content: center /* center all images horizontally */
  align-items: center     /* align them vertically (optional) */
  gap: 1rem               /* optional spacing between images */

@media (max-width: 572px)
  // body
  //   margin: 10px
  .gradient-canvas
    float: none
    display: block
    margin-left: auto
    margin-right: auto

  .home-image-row
    flex-wrap: wrap

  .content-container
    margin: 0px

  .blogs-list ul li
    display: block

  .nav-bar .column
    display: block

  .nav-bar
    padding: 15px
    .column
      .title
        text-align: center

      .menu
        text-align: center

        .links
          display: inline-block
          margin-top: 10px

          .link
            display: inline-block

pre[class*="language-"]
  border: 1px solid #d3a084

pre[class*="language-"], pre code
  overflow: auto
  font-family: 'Iosevka', monospace
  font-size: 18px
  padding: 8px
  margin-top: 0px
  scrollbar-width: auto /* auto | thin | none */

code[class*="language-"], code
  padding: 0px
  font-family: 'Iosevka', monospace

code:not([class*="language-"])
  background: #2d1e2f
  padding: 2px

blockquote + pre
  border-radius: 0px 8px 8px 8px

p + pre:has(code)
  border-radius: 8px 8px 8px 8px

blockquote:has(+ pre)
  display: inline-block
  font-family: "Iosevka" !important
  // font-size: 1.2rem
  font-weight: 600
  margin: 0px
  margin-block: 0px 0px
  background-color: #d3a084
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  padding-left: .75rem
  padding-right: .75rem
  // top: 3px
  color: #111

  p
    margin-block: 0 0 !important
    margin: 0 !important
    position: inherit
    padding-left: 0px
    border-left: 0px solid #000
    font-style: normal

blockquote p
  border-left: 1px solid #ccc
  padding-left: 20px
  font-style: italic

.footer
  background: #6a3948
  color: #dbc9b4
  border-top: 5px solid #b87e6c
  padding: 1.5em
  text-align: center
  font-size: 1.15em
  font-style: italic

  .flag
    image-rendering: pixelated
    width: 160px
    height: 30px

