@font-face
  font-family: 'Source Sans'
  src: local("Source Sans"), url("./fonts/SourceSans3-VariableFont_wght.ttf") format("truetype-variations")

@font-face 
    font-family: "Monaspace Argon"
    src: url("./fonts/MonaspaceArgonVarVF.woff2") format("woff2-variations")
    font-weight: 125 950
    font-stretch: 75% 125%
    font-style: oblique 0deg 20deg

@font-face
  font-family: 'Dosis'
  src: local("Dosis"), url("./fonts/Dosis-VariableFont_wght.ttf") format("truetype-variations")

body
  // font-family: "Source Sans"
  font-family: "Dosis"
  // font-size: 1.25em
  font-size: 20px

  background: #201616
  // color: #f58e8e // original, kept for future purposes
  // color: #dfa5a5
  color: #e4a0a0
  // color: #e79d9d
  text-shadow: 1px 0px 4px #000

  &::-webkit-scrollbar
    width: 14px

  &::-webkit-scrollbar-track
    background: #886243
    border-radius: 3px

  &::-webkit-scrollbar-thumb
    background: #f1e2be
    border-radius: 3px

.body-container
  margin: 2em auto
  max-width: 50rem
  .header 
    border-radius: 20px 20px 0px 0px
    padding: 0em 1em 0px 1em
    .title
      display: flex
      font-size: 13px
      justify-content: center
      text-shadow: 0px 2px 3px #000
    
.navbar
  font-family: "Monaspace Argon"
  display: flex
  justify-content: center
  // column-gap: 1rem
  padding: 0.5rem
  background-blend-mode: multiply

  button
    font-family: inherit
    font-size: inherit
    background: inherit

  .styled
    color: #bbb
    text-decoration: none
    padding: 0.2em 0.3em

    &:hover
      text-transform: uppercase

  .yellow
    color: #fcd825
    // text-shadow: 1px 1px 5px #d4b620
    border: 1px solid #302121
    border-radius: 25% 0px 0px 25%

    &:hover
      background: #fcd825
      color: #181818

  .magenta
    color: #b21e4d
    // text-shadow: 0px 2px 5px #ff2b6e
    border: 1px solid #302121

    &:hover
      background: #b21e4d
      color: #fff

  .orange
    color: #eb883a
    // text-shadow: 0px 2px 5px #c97432
    border: 1px solid #302121
    border-radius: 0px 25% 25% 0px

    &:hover
      background: #eb883a
      color: #fff

.block-content-container
  padding: 0.5em
  overflow: auto

.post
  .title
    .meta
      color: #c47272

.separator
  height: .25em
  background: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142))

.image-float
  float: left
  border-radius: 1rem
  margin-right: 0.4rem

.general-float
  float: right

.social-button
  font-family: "Monaspace Argon"
  font-size: 18px

  background: #00000009

  border-image-slice: 2
  border-image-width: 2
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>')
  border-image-outset: 2

  color: #fff
  padding: 4px
  text-align: left

  min-width: 10em

.bio
  .blue
    text-decoration-line: underline
    text-decoration-style: wavy
    text-decoration-color: dodgerblue

  .entity
    color: #737373

  .employ-focus
    color: #c47272

  .info-box
    display: flex
    flex-direction: row
    align-items: center
    background: #302121
    border-radius: 3rem
    padding: 0px 3rem 0px 0px
    .icon
      padding: 3rem

  a.no-decor
    text-decoration: none
    color: inherit

  .neighbor
    display: flex
    flex-direction: row
    align-items: center
    border: 1px solid #302121
    border-radius: 0.5em
    padding: 20px

    .button
      margin-right: 20px
      width: 25%
      height: auto

  .header
    font-family: "Aujournuit"
    font-size: 2rem
    border-bottom: 10px solid #aaa
    padding: 0.75rem 0px 0.75rem 0px
    margin-bottom: 0.75rem

.blog-item
  background: #302121
  padding: 0.75em
  border-radius: 0.75em
  margin-bottom: 0.25em
  .date
    color: #c47272

.footer::before
  display: block
  content: "----"
  color: #c47272

.footer
  color: #c47272
  font-size: 17px
  // text-align: center

@media (max-width: 572px)
  .bio
    .neighbor
      .button
        width: 40%

a
  color: #a0b7e4

pre[class*="language-"]
  border: 1px solid #d3a084

pre[class*="language-"], pre code
  overflow: auto
  font-family: 'Monaspace Argon', monospace
  font-size: 15px
  padding: 8px
  margin-top: 0px
  scrollbar-width: auto /* auto | thin | none */

pre table td:nth-of-type(1)
  text-align: center
  vertical-align: top
  user-select: none

code[class*="language-"], code
  font-size: 15px
  border-radius: 3px
  padding: 0px
  font-family: 'Monaspace Argon', monospace

code:not([class*="language-"])
  padding: 2px

code.command::before
  content: "$"
  color: white
  margin-right: 0.5em

code.command
  // font-size: 16px
  display: block
  overflow: scroll
  background: #302121
  padding: 0.5em
  border-radius: 0.75em

blockquote + pre
  border-radius: 0px 8px 8px 8px

p + pre:has(code)
  border-radius: 8px 8px 8px 8px

blockquote:has(+ pre)
  display: inline-block
  font-family: "Monaspace Argon" !important
  // font-size: 1.2rem
  font-weight: 600
  font-size: 17px
  margin: 0px
  margin-block: 0px 0px
  background-color: #d3a084
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  padding-left: .75rem
  padding-right: .75rem
  // top: 3px
  color: #111

  p
    margin-block: 0 0 !important
    margin: 0 !important
    position: inherit
    padding-left: 0px
    border-left: 0px solid #000
    font-style: normal

blockquote p
  border-left: 1px solid #ccc
  padding-left: 20px
  font-style: italic

mark
  background: #c3a79c
  color: #392945
  padding: 2px

/* apparently needed by Zola */
.giallo
  overflow: scroll
  margin-top: 0px

.giallo-l
  display: inline-block
  min-height: 1lh
  width: 100%

.giallo-ln
  display: inline-block
  user-select: none
  margin-right: 0.4em
  // padding: 0.4em
  min-width: 3ch
  text-align: right
  opacity: 0.8