{% extends "base.html" %}
{% block pagetitle %}
  <title>Tags</title>
  <meta name="description" content="All tags on my blog!">
{% endblock pagetitle %}

{% block tabs %}
{% include 'tags-header.html' %}
{% endblock tabs %}

{% block content %}
<div class="content-container">
<center><h1>List of Tags</h1></center>

{% if terms %}
<ul>
{% for term in terms %}
	<li><a href="{{ term.permalink | safe }}">#{{ term.name }} ({{ term.pages | length}})</a></li>
{%endfor%}
</ul>
{%endif%}
</div>
{% endblock content %}
