{% extends "base.html" %}
{% block pagetitle %}
  <title>Tags</title>
  <meta name="description" content="All tags on my blog!">
{% endblock pagetitle %}

{% block tabs %}
{% include 'tags-header.html' %}
{% endblock tabs %}

{% block content %}
<h1 style="margin: 0; padding: 0; margin-bottom: 10px">Tag: {{term.name}}<br>Total <b>{{term.pages | length}}</b> post(s)</h1>

<div class="blogs-list">
<ul>
{% for page in term.pages %}
<li>
  <span class="date"><time datetime="{{page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time></span>
  <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
</li>
{% endfor %}
</ul>
</div>
{% endblock content %}