{% extends "base.html" %}
{% block pagetitle %}
  <title>Tags</title>
  <meta name="description" content="All tags on my blog!">
{% endblock pagetitle %}

{% block tabs %}
{% include 'tags-header.html' %}
{% endblock tabs %}

{% block content %}
<div class="heading-template">
<h1 style="margin: 0; padding: 0; margin-bottom: 10px">Tag: {{term.name}}</h1>
Total <b>{{term.pages | length}}</b> post(s)<br>
<a href='{{ get_url(path="tags", trailing_slash=false) }}'>go back</a>
</div>

{% for page in term.pages %}
<div class='blog-item'>
  <span class="title"><a href="{{ page.permalink | safe }}">{{page.title}}</a></span><br>

  <span class="date">on <font color="#bbb">🗓️ <time datetime="{{page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time> 🕒 ~{{page.reading_time}} minute read</font></span><br>

  <span class="description">{{ page.description }}</span>
  <br>
  {% if page.taxonomies.tags %}
  {% for tag in page.taxonomies.tags %}
  <i><a href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}' style="font-weight: bold;">#{{ tag }}</a></i>
  {% endfor %}
  {% endif %}
</div>
{% endfor %}
{% endblock content %}