{% extends "base.html" %}
{% block pagetitle %}
  <title>Tags</title>
  <meta name="description" content="All tags on my blog!">
{% endblock pagetitle %}

{% block tabs %}
{% include 'tags-header.html' %}
{% endblock tabs %}

{% block content %}
<center><h1>#{{term.name}}</h1></center>

<div class="blogs-list">
{% for page in term.pages %}
	<div class="title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></div>
	<div class="subtitle">{{page.description}}</div>
	<span class="date"><time datetime="{{page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time></span>
{% endfor %}
</div>
{% endblock content %}
