<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta property="og:url" content="{{ current_url | safe}}">
    <meta property="og:type" content="blog" />
    <meta property="og:site_name" content="furtidev" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block pagetitle %}<title>furtidev</title>{% endblock pagetitle %}
    <link rel="stylesheet" href="{{ get_url(path='site.css', trailing_slash=false, cachebust=true) | safe }}">
    <link rel="stylesheet" href="{{ get_url(path='fontello.css', trailing_slash=false, cachebust=true) | safe }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel='preload' href='/images/text.png' type='image/png' fetchpriority='high'>
    <meta property="og:image" content="/android-chrome-512x512.png">
    <meta property="og:image:type" content="image/png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- <meta name="theme-color" content="#392945"> -->
</head>

<body class="body-container">
<br>
<script src="https://keepandroidopen.org/banner.js?size=minimal&hidebutton=off&animation=off"></script>
<div class="header blend">
</div>


<header class="header">
    <div class="title">
        <img src="/images/text.png" style="image-rendering: pixelated" width="60%" alt="A stylized icon that reads 'furti' with some hearts serving as the logo of the site.">
    </div>
    <center>
        <label for="contrast-toggle">
            High contrast mode
        </label>
        <input type="checkbox" id="contrast-toggle" name="contrast-toggle" onchange="change_theme(this)" aria-label="Toggle high contrast mode"/>
    </center>
</header>

<nav class="navbar">
    <ul>
        <li><a href="/" class="styled yellow">home</a></li>
        <li><a href="{{ get_url(path='@/blog/_index.md') }}" class="styled magenta">blog</a></li>
        <li><a href="{{ get_url(path='rss.xml', trailing_slash=false) }}" class="styled orange">rss</a></li>
    </ul>
</nav>

<div class="shape-separator"></div>

<main class="block-content-container">
{% block content %} {% endblock content %}

</main>

<footer class="footer">
    © 2023–2026 furtidev. <a href="{{ get_url(path='@/meta/_index.md') }}">Some rights reserved</a>. Built on {{ now() | date(format="%d %B, %Y %r %:z") }}.

    <p><img src="/images/button.png" alt="88x31 Card that can be used by other websites to link to this website in an aesthetically pleasing way"></p>
</footer>
</body>

<script>
    const contrast_toggle = document.getElementById('contrast-toggle');
    const theme = localStorage.getItem('contrast_mode');

    if (theme === 'true') {
        contrast_toggle.checked = true;
    }

    function change_theme(checkbox) {
        localStorage.setItem('contrast_mode', is_checked(checkbox));
    }

    function is_checked(state) {
        return state.checked ? 'true' : 'false'
    }
</script>