<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta property="og:url" content="{{ current_url | safe}}">
    <meta property="og:type" content="blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block pagetitle %}<title>furtidev</title>{% endblock pagetitle %}
    <link rel="stylesheet" href="{{ get_url(path='site.css', trailing_slash=false, cachebust=true) | safe }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta property="og:image" content="/furti_text.png">
    <meta property="og:image:type" content="image/png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="main-body">
<div class="nav-bar">
    <div class="column">
        <div class="title">
            <a href="/"><div class="main">furtidev</div></a>
            <div class="sub">software, manga and games</div>
        </div>

        <div class="menu">
            <div class="links">
              <a class="link" href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
              <a class="link" href='{{ get_url(path="bookmarks", trailing_slash=false) }}'>Bookmarks</a>
              <a class="link" href='{{ get_url(path="tags", trailing_slash=false) }}'>Tags</a>
              <a class="link" href='{{ get_url(path="rss.xml", trailing_slash=false) }}'>RSS</a>
            </div>
        </div>
    </div>
</div>

<!--<div class="navbar">
</div>-->

<div class="content">
{% block content %} {% endblock content %}
</div>

<div class="footer">

<a href="https://github.com/furtidev/furtidev.github.io/blob/main/LICENSE.md" target="_blank">LICENSE</a>
<br>
Sunrise, parabellum.
<br>
Last built on {{ now() | date(format="%d %B, %Y %r %:z") }} with <a href="https://getzola.org" target="_blank">Zola</a>
<br>
<br>
<img src="/flagbd.png" class="flag">
</div>
</body>

