{% extends "base.html" %}
{% block pagetitle %}
  <title>{{page.title}}</title>
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{page.description}}">
  <meta name="description" content="{{page.description}}">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{page.title}}",
      "datePublished": "{{ page.date }}",
      "author": [{
          "@type": "Person",
          "name": "furtidev",
          "url": "https://bsky.app/profile/furtidev.github.io"
      }]
    }
  </script>
{% endblock pagetitle %}

{% block content %}
<article title="{{ page.title }}">
  <h1 class="title">{{ page.title }}</h1>
  {{ page.content | safe }}

  <hr/>

  <footer>
    <p class="meta">Published on <time datetime="{{page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time></p>
    {% if page.taxonomies.tags %}
    <p>Tags:</p>
    <ol aria-label="List of tags attached to this blog post">
      {% for tag in page.taxonomies.tags %}
        <li class="tag"><a href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}'>#{{ tag }}</a></li>
      {% endfor %}
    </ol>
    {% endif %}
  </footer>
</article>

<div class="content-container" aria-label="Comment section powered by GitHub">

<script src="https://utteranc.es/client.js"
        repo="furtidev/furtidev.github.io"
        issue-term="pathname"
        label="comment"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
</script>
</div>
{% endblock content %}
