{% extends "base.html" %}
{% block pagetitle %}
  <title>{{page.title}}</title>
  <meta property="og:title" content="{{page.title}} | furtidev's blog">
  <meta property="og:description" content="{{page.description}}">
  <meta name="description" content="{{page.description}}">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{page.title}}",
      "datePublished": "{{ page.date }}",
      "author": [{
          "@type": "Person",
          "name": "furtidev",
          "url": "https://poto.cafe/@furtidev"
      }]
    }
  </script>
{% endblock pagetitle %}

{% block content %}
<div class="post content-container">
<article>
<h1 class="title">
  {{ page.title }}
  <span class="meta"><i>{{ page.description }}</i></span>
  <time class="meta" datetime="{{page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time>
  {% if page.taxonomies.tags %}
  {% for tag in page.taxonomies.tags %}
  <a class="tag" href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}'>#{{ tag }}</a>
  {% endfor %}
  {% endif %}
</h1>
<div>{{ page.content | safe }}</div>
</article>
</div>
<div class="content-container">
<center style="color: #aaa; text-decoration: underline;">Note: all old comments are not displayed anymore as I switch repos. Sorry.</center>

<script src="https://utteranc.es/client.js"
        repo="furtidev/furtidev.github.io"
        issue-term="pathname"
        label="comment"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
</script>
</div>
{% endblock content %}
