{% extends "base.html" %}

{% block tabs %}
{% include 'blog-header.html' %}
{% endblock tabs %}

{% block content %}
{% if paginator.pages|length == 0 %}
<center>no blogs!</center>
{%else%}
<h1>Ramblings / blogs</h1>

<div class="blogs-list">
<ul>
{% for page in paginator.pages %}
<li>
	<span class="date"><time datetime="{{page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time></span>
	<h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
</li>
{% endfor %}
</ul>
</div>
<center>
	{% if paginator.previous %}
		<a href="{{ paginator.previous }}">&laquo; Previous</a> |
	{% endif %}
	Page {{ paginator.current_index }} of {{ paginator.number_pagers }}
	{% if paginator.next %}
		| <a href="{{ paginator.next }}">Next &raquo;</a>
	{% endif %}
</center>
<br>
{%endif%}

{% endblock content %}