{% extends "base.html" %}

{% block pagetitle %}
<title>blogs | furtidev</title>
{% endblock pagetitle %}

{% block tabs %}
{% include 'blog-header.html' %}
{% endblock tabs %}

{% block content %}
<div class="content-container">
{% if paginator.pages|length == 0 %}
<center>no blogs!</center>
{%else%}
<center><h1>My writing</h1></center>

<ul class="blog-list">
{% for page in paginator.pages %}
	<li>
		<article class="blog-item" title="{{page.title}}">
			<a href="{{ page.permalink | safe }}"><h3>{{ page.title }}</h3></a>
			<p class="subtitle">{{page.description}}</p>
			<time datetime="{{page.date}}" class="date">{{ page.date | date(format="%b %d, %Y") }}</time>
		</article>
	</li>
{% endfor %}
</ul>

<center>
	{% if paginator.previous %}
		<a href="{{ paginator.previous }}">&laquo; Previous</a> |
	{% endif %}
	Page {{ paginator.current_index }} of {{ paginator.number_pagers }}
	{% if paginator.next %}
		| <a href="{{ paginator.next }}">Next &raquo;</a>
	{% endif %}
</center>
<br>
{%endif%}
</div>
{% endblock content %}
