{% extends "base.html" %}

{% block content %}
<div class="content-container">
{% if paginator.pages|length == 0 %}
<br>
<center>No bookmarks</center>
{%else%}
<center><h1>Bookmarks</h1></center>
<ul style="font-size: 130%">
{% for page in paginator.pages %}
<li><a href="{{ page.extra.bloglink | safe }}" target="_blank">{{page.title}}</a> added on <span class="date">on <font color="#bbb">🗓️ <time datetime="{{page.date}}">{{ page.date | date(format="%b %d, %Y") }}</time></font></span></li>
{% endfor %}
</ul>
<center>
	{% if paginator.previous %}
		<a href="{{ paginator.previous }}">&laquo; Previous</a> |
	{% endif %}
	Page {{ paginator.current_index }} of {{ paginator.number_pagers }}
	{% if paginator.next %}
		| <a href="{{ paginator.next }}">Next &raquo;</a>
	{% endif %}
</center>
<br>
{%endif%}
</div>
{% endblock content %}
